<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TModMaker.Properties.Settings.IDsConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\IDs.mdb"
            providerName="System.Data.OleDb" />
        <add name="TModMaker.Properties.Settings.ItemIDsConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\ItemIDs.mdb"
            providerName="System.Data.OleDb" />
        <add name="TModMaker.Properties.Settings.CraftingStationIDsConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\CraftingStationIDs.mdb"
            providerName="System.Data.OleDb" />
        <add name="TModMaker.Properties.Settings.CraftingStationIDs_2ConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=&quot;|DataDirectory|\CraftingStationIDs 2.mdb&quot;"
            providerName="System.Data.OleDb" />
        <add name="TModMaker.Properties.Settings.CraftingStationIDs_3ConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=&quot;|DataDirectory|\CraftingStationIDs 3.mdb&quot;"
            providerName="System.Data.OleDb" />
        <add name="TModMaker.Properties.Settings.CraftingStationIDs_4ConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=&quot;|DataDirectory|\CraftingStationIDs 4.mdb&quot;"
            providerName="System.Data.OleDb" />
        <add name="TModMaker.Properties.Settings.CraftingStationIDs_5ConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=&quot;|DataDirectory|\CraftingStationIDs 5.mdb&quot;"
            providerName="System.Data.OleDb" />
        <add name="TModMaker.Properties.Settings.CraftingStationIDs_6ConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=&quot;|DataDirectory|\CraftingStationIDs 6.mdb&quot;"
            providerName="System.Data.OleDb" />
        <add name="TModMaker.Properties.Settings.ItemIDs___KopieConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=&quot;|DataDirectory|\ItemIDs - Kopie.mdb&quot;"
            providerName="System.Data.OleDb" />
        <add name="TModMaker.Properties.Settings.ItemIDs___Kopie__2_ConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=&quot;|DataDirectory|\ItemIDs - Kopie (2).mdb&quot;"
            providerName="System.Data.OleDb" />
        <add name="TModMaker.Properties.Settings.ItemIDs___Kopie__3_ConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=&quot;|DataDirectory|\ItemIDs - Kopie (3).mdb&quot;"
            providerName="System.Data.OleDb" />
        <add name="TModMaker.Properties.Settings.ItemIDs___Kopie__4_ConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=&quot;|DataDirectory|\ItemIDs - Kopie (4).mdb&quot;"
            providerName="System.Data.OleDb" />
        <add name="TModMaker.Properties.Settings.ItemIDs___Kopie__5_ConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=&quot;|DataDirectory|\ItemIDs - Kopie (5).mdb&quot;"
            providerName="System.Data.OleDb" />
        <add name="TModMaker.Properties.Settings.NPCIDsConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\NPCIDs.mdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>